{
  "extends": [
    "airbnb",
    "plugin:prettier/recommended"
  ],
  "env": {
    "jest": true
  },
  "rules": {
    "arrow-parens": "off",
    "max-len": [
      "error",
      150
    ],
    "no-console": "off",
    "no-debugger": "off",
    "camelcase": "off",
    "object-curly-newline": "off",
    "consistent-return": "off"
  }
}